.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
    color: #555;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-item {
    color: #555;
}

.dropdown-item:hover {
    color: #007bff;
    background-color: #f8f9fa;
}


.modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal-window {
    position: relative;
    width: 500px;
    max-width: 90%;
    margin: 10% auto;
    background: #fff;
    border-radius: 6px;
    z-index: 1;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .3);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    padding: 16px;
}

.modal-header button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

